<head>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>

<div class="innerHTML">
    <div id="innerHeading">


        <!-- Possibly use *Ng-repeat statement to create grid-tile child of each element of a team in array -->
        <p> Your teams statistics </p>
        <mat-accordion>
            <mat-card id="players">


                <mat-expansion-panel>
                    <mat-expansion-panel-header id="playersDropDown"> Players </mat-expansion-panel-header>
                    
                    <app-players> </app-players>

                </mat-expansion-panel>

            </mat-card>
            <mat-card id="fixtures">
                <mat-expansion-panel>
                    <mat-expansion-panel-header id="fixturesDropDown"> Fixtures </mat-expansion-panel-header>

                    <app-fixtures></app-fixtures>
                </mat-expansion-panel>


            </mat-card>
            <mat-card id="table">
                <mat-expansion-panel>
                    <mat-expansion-panel-header id="tableDropDown"> Table </mat-expansion-panel-header>
                    <app-standings></app-standings>
                </mat-expansion-panel>
            </mat-card>

        </mat-accordion>


        <button mat-button id="go-back" (click)="returnToLeagues()"> Return to league selection </button>

        <button mat-button id="go-to-clubs" type="submit" (click)='goToClubs()'> Go to clubs</button>
    </div>

</div>