<head>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>

<div class="innerHTML">
    <div id="innerHeading">


        <!-- Possibly use *Ng-repeat statement to create grid-tile child of each element of a team in array -->
        <p> Choose your club </p>
        <mat-card>
            <mat-grid-list cols="5" rowHeight="1:1">

                <mat-grid-tile *ngFor="let club of filteredFootballClubs | async" [value="club.shortName" (click)='selectClub(club.name)'>
                   {{ club.shortName }}
                   </mat-grid-tile>
                    <!-- Tiles below act as buttons to be worked on. -->
              
            </mat-grid-list>



        </mat-card>

    </div>
</div>