<mat-card>
   
    
    <mat-form-field>
        <mat-select placeholder="Select a player" [(ngModel)]="selectedPlayer">

            <mat-option *ngFor="let player of footballPlayers | async" id="playerSelect" [value]="player" (click)="selectPlayer(player.name)">


                {{player.name | uppercase}}

            </mat-option>

        </mat-select>
        <mat-hint *ngIf="!selectedPlayer">
            A player is
            <strong>required</strong> if you want to see stats!
        </mat-hint>

    </mat-form-field>


    
    <p>
        Player: {{ selectedPlayer?.name }},
    <br>
        Nationality {{selectedPlayer?.nationality}},
    <br>
        Wears No: {{selectedPlayer?.jerseyNumber}},
    <br>
        He is a: {{selectedPlayer?.position}},
    <br>
        Contract runs until: {{selectedPlayer?.contractUntil}},
    <br>
        Birthday is on: {{selectedPlayer?.dateOfBirth}},
    </p>
    